In [7]:
import pandas as pd
import numpy as np

In [13]:
employees = pd.read_csv('/content/test_res.csv')
vacancies = pd.read_csv('/content/vacancies.csv', error_bad_lines=False)

<ipython-input-13-52add874d4d6>:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  vacancies = pd.read_csv('/content/vacancies.csv', error_bad_lines=False)

In [14]:
vacancies.head(1)

,vac_title_tag,vacancy_title,required_experience,description,skills,address,mode,link
0,"<h1 class=""bloko-header-section-1"" data-qa=""va...",Full-stack Developer (PHP/JS),3–6 лет,топ-3 Мы — в тройке лучших работодателей сегм...,NaN,Калининград,"Полная занятость, полный день",https://adsrv.hh.ru/click?b=730457&c=7&place=3...

In [24]:
vacancies['id'] = range(4746)

In [76]:
employees.head(1)

,Unnamed: 0,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,all,embedigs,job,job2,job3,id
0,0,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,веб разработчик html css js php базы данных фр...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,0мужчина 38 лет родился 25 июня 1980100000 руб...,[-2.41521209e-01 4.56958860e-01 -2.31135949e-...,"[0.9373709, 530]","[0.9230975, 346]","[0.9035956, 2947]",0

In [77]:
v_ids = []
uid = 0

for col in ['job', 'job2', 'job3']:
 v_ids.append(int(employees[employees['id'] == uid][col][uid].replace("]", "").split(', ')[1]))

In [78]:
v_ids

[530, 346, 2947]

In [83]:
v_names = []

for vid in v_ids:
  v_names.append(vacancies[vacancies['id'] == vid]['vacancy_title'][vid])

In [84]:
v_names

['Senior PHP-разработчик', 'Senior PHP-разработчик', 'Программист PHP']

In [85]:
id_names = {}

for uid in range(20):
  v_ids = []
  v_names = []

  for col in ['job', 'job2', 'job3']:
    v_ids.append(int(employees[employees['id'] == uid][col][uid].replace("]", "").split(', ')[1]))

  for vid in v_ids:
    v_names.append(vacancies[vacancies['id'] == vid]['vacancy_title'][vid])

  id_names[uid] = ",".join(v_names)

In [98]:
data = { 'id': range(20), 'v_names': id_names.values()}

In [101]:
df = pd.DataFrame.from_dict(data)

In [107]:
df[df['id'] == 1]['v_names'][1]

'Менеджер по развитию/маркетолог,Ведущий бизнес аналитик,Ведущий инженер-программист'

In [108]:
df.to_csv('/content/uid_to_vname.csv')